body {
  font-family: 'Courier New', Courier, monospace;
}

img {
  width: 100px;
  height: 100px;
}

.title {
  width: fit-content;
  font-size: 36px;
  font-weight: 900;
  margin: 32px auto;
}

.container{
  display: flex;
  justify-content: center;
  gap: 52px;
}

.text{
  width: 200px;
}

.image_text{
  text-align: center;
}